*.pyc
*.swp
*.swo
*~
*.egg
._*
*.log
.coverage
.DS_Store
pip-log.txt
build/*
dist/*
tmp/*
run/*
env/
_build/*
coverage.xml
nosetests.xml
.sass-cache
*.sublime-project
*.sublime-workspace
*pep8.txt
*pylint.txt
.vagrant
*settings*.yaml
tmp/
.env
local_options.py
node_modules
mettle.egg-info/*
lib
include
local
foo/*
.idea/
