include mettle/static/bower.json
recursive-include mettle/static/css *
recursive-include mettle/static/font *
recursive-include mettle/static/js *
recursive-include mettle/static/jsx *
recursive-include mettle/migrations *
