/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
code, kbd, pre, samp {
  font-family: monospace;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* FONT */

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
http://purecss.io/grids/#using-grids-with-custom-fonts
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "RobotoRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "RobotoThin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

small {
  font-size: 80%;
}

a {
  color: #00C5FF;
}

/* BUTTON SIZING */

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

/* HEADER */

#content {
  margin: 0 auto 40px auto;
  max-width: 1200px;
}

#content header {
  background-color: #fff;
}

.breadcrumbs {
  font-size: 16px;
  color: #6b6b6b;
  font-size: 16px;
}

.breadcrumbs li:before {
  content: ">";
  margin: 0 8px 0 8px;
}


.breadcrumbs li:first-child:before {
  content: "";
  margin: 0;
}

#content .page-header > a,
.breadcrumbs a {
  text-decoration: none;
  color: #333;
  font-style: italic;
  /*font-size: 14px;*/
}

.title {
  display: inline;
  font-size: 40px;
  font-family: "RobotoThin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title a {
  text-decoration: none;
  color: #333;
  font-weight: lighter;
}

.breadcrumbs li {
  display: inline;
  list-style-type: none;
  font-size: 16px;
  font-family: "RobotoThin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.breadcrumbs li:before {
  content: ">";
  margin: 0 8px 0 8px;
}

.user {
  float: right;
}

.table {
  /*width: 100%;*/
  /*max-width: 100%;*/
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table>thead>tr>th {
  font-weight: 100;
  font-size: .8em;
  text-align: left;
  text-transform: uppercase;
  vertical-align: bottom;
  border-top: 0;
  padding: 8px 0;
  background: #00C5FF;
  color: #fff;
}
.table>tbody>tr>td:first-child {
  background-color: #8cc152;
}
.table>tbody>tr.danger>td, 
.table>tbody>tr.danger>th, 
.table>tbody>tr>td.danger, 
.table>tbody>tr>th.danger, 
.table>tfoot>tr.danger>td, 
.table>tfoot>tr.danger>th, 
.table>tfoot>tr>td.danger, 
.table>tfoot>tr>th.danger, 
.table>thead>tr.danger>td, 
.table>thead>tr.danger>th, 
.table>thead>tr>td.danger, 
.table>thead>tr>th.danger {
  background-color: #f2dede;
}
.table>tbody>tr.danger>td:first-child {
  background-color: #e9573f;
}

.service,
.pipeline,
.run,
.notification {
  padding: 0;
  color: #292929;
  font-size: .8em;
  line-height: 1.3;
  text-transform: uppercase;
  border-bottom: 1px solid #f7f7f7;
}
.service:hover,
.pipeline:hover,
.run:hover,
.notification:hover {
  background-color: #f7f7f7;
}
.service a,
.pipeline a,
.run a,
.log a,
.notification a,
.notification div:first-child {
  color: #292929;
  text-decoration: none;
  padding: 14px 0;
  display: block;
}
.notification.acknowledged,
.notification.acknowledged a {
  color: #ccc;
}
.notification.acknowledged {
  display: none;
}
.notification input[type="checkbox"] {
  margin: 0 auto;
  display: block;
}
.notification pre {
  text-transform: none;
}
.service.danger,
.pipeline.danger,
.run.danger {
  background-color: #f2dede;
}
.service.warning,
.pipeline.warning,
.run.warning {
  background-color: #ffeacc;
}
.service.warning:hover,
.pipeline.warning:hover,
.run.warning:hover {
  background-color:#fec067;
}
.service.warning a,
.pipeline.warning a,
.run.warning a {
  color: #fe9c10;
}
.service.warning:hover a,
.pipeline.warning:hover a,
.run.warning:hover a {
  color: #fff;
}

.status-light {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 auto;
}

.status-light.ok {
  background-color: #0CE80C;
}

.status-light.error {
  background-color: #FF0800;
}

.status-light.warning {
  background-color: #FFD700;
}

.service div:last-child,
.pipeline div:last-child,
.run div:last-child,
.notifications {
  position: relative;
}

.service div:last-child .badge,
.pipeline div:last-child .badge,
.run div:last-child .badge,
.notifications .badge {
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #fff;
  position: absolute;
  top: 6px;
  padding: 7px 9px 5px;
  line-height: 12px;
  font-size: 11px;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  transition: all .6s;
}
.service div:last-child .badge:hover,
.pipeline div:last-child .badge:hover,
.run div:last-child .badge:hover,
.notifications .badge:hover {
  border-color: #ccc;
}
.service.warning div:last-child .badge:hover,
.pipeline.warning div:last-child .badge:hover,
.run.warning div:last-child .badge:hover,
.warning .notifications .badge:hover {
  border-color: #fe9c10;
}
.service.warning:hover div:last-child .badge,
.pipeline.warning:hover div:last-child .badge,
.run.warning:hover div:last-child .badge,
.warning:hover .notifications .badge {
  color: #fe9c10;
}

.list-group-item {
  padding: 14px 10px;
  font-size: .8em;
  font-weight: 100;
  line-height: 1.4;
  text-transform: uppercase;
  border-bottom: 1px solid #f7f7f7;
}

/* LOGS */

.log {
  font-family: "Lucida Console", Monaco, monospace;
  white-space: pre;
  word-wrap: normal;
  background-color: black;
  color: white;
  font-weight: lighter;
  font-size: 13px;
  width: 100%;
}

.log td {
  padding: 0.25em 0.25em 0 0.25em;
}

.log .line-num {
  padding-left: 1em;
}

/* PIPELINE RUNS */
/* For some reason this won't apply itself to my React-driven SVG elements */

.succeeded {
  fill: #0CE80C;
}

.failed {
  fill: #FF0800;
}

.unstarted {
  fill: #ddd;
}

.unknown {
  fill: #C533FF;
}

.somefails {
  -webkit-animation: fadesomefails 1s linear infinite alternate;
  animation: fadesomefails 1s linear infinite alternate;
}

.running {
  -webkit-animation: faderunning 1s linear infinite alternate;
  animation: faderunning 1s linear infinite alternate;
}

keyframes faderunning {
  from {
    fill: #C4E8FF;
  }

  to {
    fill: #ffffff;
  }
}

@-webkit-keyframes faderunning {
  from {
    fill: #4DFFFF;
  }

  to {
    fill: #00DEDE;
  }
}

keyframes fadesomefails {
  from {
    fill: #FFCC24;
  }

  to {
    fill: #FFFF24;
  }
}

@-webkit-keyframes fadesomefails {
  from {
    fill: #FFCC24;
  }

  to {
    fill: #FFFF24;
  }
}

.failCount {
  fill: red;
}

/* REUSABLE COMPONENTS */

.summary .action, .entity-table .action {
  float: right;
  text-align: right;
}

.gridblock, .gridblock p {
  font-size: 14px;
  font-family: 'RobotoLight';
  font-weight: lighter;
}

.gridblock table {
  border: none;
  margin-bottom: 1em;
}

.text-block p {
  margin-top: 1em;
}

.summary caption, .gridblock caption, .gridblock .gridhead, .gridform legend {
  font-size: 14px;
  text-align: left;
  font-style: normal;
  background: #00C5FF;
  color: white;
  padding: 8px 1em;
}

.summary caption a, .gridblock caption a {
  color: white;
  text-decoration: none;
  font-style: italic;
}

.summary td, .entity-table td {
  border: none;
  font-weight: lighter;
  font-family: 'RobotoLight';
}

.summary th, .entity-table th {
  text-align: left;
  font-weight: bold;
  border: none;
}

.entity-table td a {
  text-decoration: none;
  color: black;
}

.entity-table tbody tr:hover {
  background-color: #f7f7f7;
}

.entity-table thead {
  background-color: transparent;
}

.gridform legend {
  /*display: block;*/
  /*padding: .3em 0;*/
  /*margin-bottom: .3em;*/
  /*color: #333;*/
  /*border-bottom: none; */
}

.current-user {
  float: right;
  font-size: 12px;
}

/* for providing gutters between top level grid blocks */

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 0.5em;
}

.l-box.first {
  padding-left
}

.gutter {
  padding-right: 1em;
}

.gutter.last {
padding-right: 0;
}

/*
PALLETE
light blue: 00C5FF (used in headers)
darker blue: 6600FF
red: FF0800
green: 0CE80C
yellow: FFD700
*/
.button-success,
.button-error,
.button-warning,
.button-secondary,
.button-primary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: #0CE80C;
}

.button-error {
    background: #FF0800;
}

.button-warning {
    background: #FFD700;
}

.button-primary {
  background: #6600FF;
}

.button-secondary {
    background: #00C5FF;
}
